<md-dialog aria-label="input account" ng-class="dialog.css" class="uvt">
    <form ng-submit="do_input_account()">
        <md-toolbar class="md-menu-toolbar">
            <div class="md-toolbar-tools">
                <div flex class="md-title">
                    {{ input_mode == 'create' ? 'Create' : 'Update' }} Account
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close_dialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div ng-if="error_message" class="alert alert-danger space-xb">
                {{ error_message }}
            </div>
            <div layout="column" class="md-padding" style="width: 400px">
                <div class="form-group">
                    <label for="" class="control-label">Name</label>
                    <input ng-model="input_account.name" type="text" class="form-control" required md-autofocus />
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Email atau Username</label>
                    <input ng-model="input_account.username" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Password</label>
                    <input ng-model="input_account._raw_password" type="password" class="form-control"
                        placeholder="{{submit_text.indexOf('Update') !== -1 ? 'Biarkan kosong jika tidak ingin mengganti' : ''}}" />
                    <small class="text-muted">Password akan tersimpan dan di enkripsi</small>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="md-padding layout-row" style="border-top: 1px solid #e1e1e1">
            <span flex></span>
            <button type="button" ng-click="close_dialog()" class="btn btn-default space-rq">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary" ng-disabled="is_loading">
                {{ input_mode == 'create' ? 'Create New' : 'Save Change' }}
            </button>
        </md-dialog-actions>
    </form>
</md-dialog>